@import url("colors.css");

* {
  border: none;
  border-radius: 50px;
  font-family: "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font",
    "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  background-color: transparent;
  margin-bottom: 3px;
}

#window {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: @bg-soft;
}

#window#waybar {
  background: @bg-soft;
}

#window#waybar.hidden {
  opacity: 0.2;
}

#tray menu {
  border-radius: 10px;
  transition: none;
  color: @fg;
  background: @accent;
}

#tray,
#cpu,
#clock,
#memory,
#network,
#pulseaudio,
#language {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  transition: none;
  /* color: @accent-strong;
  background: @accent-dark; */
  color: @accent;
  background: @on_secondary;
}

/* Workspaces */
#workspaces {
  margin: 6px 6px 0 6px;
}

#workspaces button {
  padding: 8px 15px 2px 15px;
  background-color: @on_secondary; /* динамическая переменная */
  border-radius: 0;
  color: @accent;
  border-top: 2px solid @accent-light;
  border-bottom: 2px solid @accent-light;
}

#workspaces button.active,
#workspaces button.focused {
  opacity: 0.85;
  border-top: 2px solid @fg;
  border-bottom: 2px solid @fg;
}

#workspaces button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 2px solid @accent-light;
}

#workspaces button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid @accent-light;
}

#workspaces button.active:first-child,
#workspaces button.focused:first-child {
  border-left: 2px solid @fg;
}

#workspaces button.active:last-child,
#workspaces button.focused:last-child {
  border-right: 2px solid @fg;
}
